<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../../assets/css/fonts.css">
  <link rel="stylesheet" type="text/css" href="../../assets/css/ionicons.min.css">
  <link rel="stylesheet" type="text/css" href="../../assets/css/genial.css">
  <link rel="stylesheet" href="../../assets/fonts/icomoon/style.css">
  <!-- style for this template -->
  <link rel="stylesheet" type="text/css" href="./event.css">
  <!-- style for components -->
  <title>Event</title>
</head>

<body>

  <!-- Item event -->
  <!-- <div class="row reset-margin">
    <div class="col-md-12 reset-padding">
      <div class="row reset-margin">
        <div class="col-md-10 col-md-offset-1 reset-padding reset-margin1">
          <div class="container-event">
            <div class="container-item-event">
              <div class="item-event">
                <div class="item-picture"></div>
                <div class="item-gradiente">
                  <span class="item-name">Holy Party Sucre Bolivia</span>
                </div>
                <div class="item-info">
                  <div class="item-description">
                    <span>Lorem ipsum dolor sit amet, consectetur  dolore mut</span>
                  </div>
                  <div class="item-genial">
                    <div class="genial font-genial" data-genial='{"press":"0","number_like":"101"}' style="margin:0 auto;">
                      <div class="genial-left">
                        <svg version="1" xmlns="http://www.w3.org/2000/svg" width="232" height="50" viewBox="0 0 232 50"><path d="M44 45.6a52.2 52.2 0 0 1-15.6 2.6c-8.5 0-14.7-2.1-19-6.3-4.2-4-6.6-10-6.5-17C2.9 9.6 14.2.7 29.5.7a32 32 0 0 1 13 2.3l-2.3 8.4c-2.5-1-5.7-2-10.8-2-8.8 0-15.5 5-15.5 15.1 0 9.6 6 15.3 14.7 15.3 2.4 0 4.3-.3 5.2-.7v-9.8h-7.2V21h17.3v24.6zM79.9 28H62.8v11h19.1v8.7H52.2V1.1h28.7v8.6H62.8v9.7h17.1V28zM89.1 47.7V1.1h12.3l9.7 17a135 135 0 0 1 7.6 16h.2c-.7-6.1-.9-12.4-.9-19.4V1.1h9.7v46.6h-11l-10-18c-2.8-5-5.8-11-8.1-16.4h-.2c.2 6.2.4 12.8.4 20.4v14H89zM147.4 1.1v46.6h-10.6V1.1h10.6zM167.4 35.8l-3.3 12h-11L167.4 1h13.8l14.5 46.6h-11.4l-3.6-12h-13.3zm11.8-8l-2.9-9.8-2.4-9c-.8 2.8-1.5 6.3-2.2 9l-2.8 9.9h10.3zM201.9 1.1h10.6v37.8H231v8.8h-29.1V1.1z"/></svg>
                      </div>
                      <div class="genial-smile">
                        <div class="unliked">
                          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 64 64"><path d="M32 64c17.673 0 32-14.327 32-32s-14.327-32-32-32-32 14.327-32 32 14.327 32 32 32zM32 6c14.359 0 26 11.641 26 26s-11.641 26-26 26-26-11.641-26-26 11.641-26 26-26zM16 20c0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.209-1.791 4-4 4s-4-1.791-4-4zM40 20c0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.209-1.791 4-4 4s-4-1.791-4-4zM44.006 39.204l5.145 3.087c-3.498 5.817-9.87 9.709-17.152 9.709s-13.654-3.892-17.152-9.709l5.145-3.087c2.448 4.072 6.909 6.796 12.006 6.796s9.558-2.724 12.006-6.796z"></path></svg>
                        </div>
                        <div class="liked">
                          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 64 64"><path d="M32 64c17.673 0 32-14.327 32-32s-14.327-32-32-32-32 14.327-32 32 14.327 32 32 32zM32 6c14.359 0 26 11.641 26 26s-11.641 26-26 26-26-11.641-26-26 11.641-26 26-26zM32 37.422c7.247 0 14.139-1.925 20-5.307-0.911 11.152-9.57 19.885-20 19.885s-19.089-8.742-20-19.894c5.861 3.382 12.753 5.316 20 5.316zM16 22c0-3.314 1.791-6 4-6s4 2.686 4 6c0 3.314-1.791 6-4 6s-4-2.686-4-6zM40 22c0-3.314 1.791-6 4-6s4 2.686 4 6c0 3.314-1.791 6-4 6s-4-2.686-4-6z"></path></svg>
                        </div>
                      </div>
                      <div class="genial-right">
                        <span>101</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item-date">
                  <span class="item-date-day">24</span>
                  <span class="item-date-month">ENE</span>
                  <span class="item-date-year">2018</span>
                </div>
              </div>
            </div>
            <div class="filtro"></div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- Fin Item event -->

  <!-- Event -->

  <div class="row reset-margin">
    <div class="col-md-12 reset-padding">
      <div class="row reset-margin">
        <div class="col-md-10 col-md-offset-1 reset-padding reset-margin1">
          <div class="container-event">
            <div class="container-event-info">
              <div class="event-info-detail">
                <div class="info-event-portada">
                </div>
                <div class="info-event-gradient">
                  <span class="info-event-name">Holy Party Sucre Bolivia</span>
                </div>
                <div class="info-event-information">
                  <div class="info-event-data">
                    <span>Publicado el</span>
                    <span>10 de enero</span>
                  </div>
                  <div class="info-event-genial">
                    <div class="genial font-genial" data-genial='{"press":"0","number_like":"101"}' style="margin:0 auto;">
                      <div class="genial-left">
                        <svg version="1" xmlns="http://www.w3.org/2000/svg" width="232" height="50" viewBox="0 0 232 50"><path d="M44 45.6a52.2 52.2 0 0 1-15.6 2.6c-8.5 0-14.7-2.1-19-6.3-4.2-4-6.6-10-6.5-17C2.9 9.6 14.2.7 29.5.7a32 32 0 0 1 13 2.3l-2.3 8.4c-2.5-1-5.7-2-10.8-2-8.8 0-15.5 5-15.5 15.1 0 9.6 6 15.3 14.7 15.3 2.4 0 4.3-.3 5.2-.7v-9.8h-7.2V21h17.3v24.6zM79.9 28H62.8v11h19.1v8.7H52.2V1.1h28.7v8.6H62.8v9.7h17.1V28zM89.1 47.7V1.1h12.3l9.7 17a135 135 0 0 1 7.6 16h.2c-.7-6.1-.9-12.4-.9-19.4V1.1h9.7v46.6h-11l-10-18c-2.8-5-5.8-11-8.1-16.4h-.2c.2 6.2.4 12.8.4 20.4v14H89zM147.4 1.1v46.6h-10.6V1.1h10.6zM167.4 35.8l-3.3 12h-11L167.4 1h13.8l14.5 46.6h-11.4l-3.6-12h-13.3zm11.8-8l-2.9-9.8-2.4-9c-.8 2.8-1.5 6.3-2.2 9l-2.8 9.9h10.3zM201.9 1.1h10.6v37.8H231v8.8h-29.1V1.1z"/></svg>
                      </div>
                      <div class="genial-smile">
                        <div class="unliked">
                          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 64 64"><path d="M32 64c17.673 0 32-14.327 32-32s-14.327-32-32-32-32 14.327-32 32 14.327 32 32 32zM32 6c14.359 0 26 11.641 26 26s-11.641 26-26 26-26-11.641-26-26 11.641-26 26-26zM16 20c0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.209-1.791 4-4 4s-4-1.791-4-4zM40 20c0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.209-1.791 4-4 4s-4-1.791-4-4zM44.006 39.204l5.145 3.087c-3.498 5.817-9.87 9.709-17.152 9.709s-13.654-3.892-17.152-9.709l5.145-3.087c2.448 4.072 6.909 6.796 12.006 6.796s9.558-2.724 12.006-6.796z"></path></svg>
                        </div>
                        <div class="liked">
                          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 64 64"><path d="M32 64c17.673 0 32-14.327 32-32s-14.327-32-32-32-32 14.327-32 32 14.327 32 32 32zM32 6c14.359 0 26 11.641 26 26s-11.641 26-26 26-26-11.641-26-26 11.641-26 26-26zM32 37.422c7.247 0 14.139-1.925 20-5.307-0.911 11.152-9.57 19.885-20 19.885s-19.089-8.742-20-19.894c5.861 3.382 12.753 5.316 20 5.316zM16 22c0-3.314 1.791-6 4-6s4 2.686 4 6c0 3.314-1.791 6-4 6s-4-2.686-4-6zM40 22c0-3.314 1.791-6 4-6s4 2.686 4 6c0 3.314-1.791 6-4 6s-4-2.686-4-6z"></path></svg>
                        </div>
                      </div>
                      <div class="genial-right">
                        <span>101</span>
                      </div>
                    </div>
                  </div>
                  <div class="info-event-fecha">
                    <span class="info-day font-block">24</span>
                    <span class="info-month font-block">ENE</span>
                    <span class="info-year font-block">2018</span>
                  </div>
                  <div class="info-event-datos">
                    <span class="ocultar font-info"><i class="icon-calendar icon-info"></i>13 de Noviembre</span>
                    <span class="font-info"><i class="icon-clock icon-info"></i>17:30</span>
                    <span class="font-info"><i class="icon-map icon-info"></i>  Villa Norita - Yotala - Sucre</span>
                    <span class="font-info"><i class="icon-phone icon-info"></i>64 - 56789 * 76890452</span>
                  </div>
                  <div class="info-event-map">
                    <a href="#ohhsi!!" id="howdrive"><i class="icon-corner-up-right"></i><span>Como Llegar</span></a>
                    <!-- <label for="howdrive" class="color-blue">Como LLegar</label> -->
                  </div>
                </div>
              </div>
              <div class="event-info-about">
                <span class="font-block color-blue">Acerca del evento</span>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </span>
              </div>
            </div>
            <div class="container-event-more">
              <div class="event-title-ubication">
                <div class="event-ubication-icon">
                  <span class="icon-map-pin"></span>
                </div>
                <span class="font-ubication">Ubicación del evento</span>
              </div>
              <div class="event-map"></div>
              <div class="event-business-info">
                <div class="event-business-title">
                  <span class="color-blue">Organiza</span>
                </div>
                <!-- <div class="work-business">
                  <div class="work-business-logo"></div>
                  <span>Openred Sucre</span>
                  <span class="location">Santa Cruz de la Sierra, Bolivia</span>
                </div> -->

                <div class="event-business">
                  <div class="more-event-logo"></div>
                  <div class="more-event-business">
                    <span>Eventos Bolivia</span>
                    <span class="location">Santa Cruz de la Sierra, Bolivia</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Fin Event -->

</body>
<script src="../../assets/js/genial.js"></script>

</html>
