/* Estilos item event */

/*
 body {
  background: #e9eaef;
}

.reset-padding {
  padding: 0;
}

.reset-margin {
  margin: 0;
}

.container-event {
  position: relative;
  height: auto;
  margin: 0 auto;
}

.container-item-event {
  height: 600px;
  display: inline-block;
  width: 100%;
  padding: 15px;
}

.item-event {
  width: 100%;
  height: 200px;
  background: white;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 15px;
  position: relative;
  box-shadow: 1px 1px 5px #474747;
}

.item-name {
  display: block;
  font-size: 17px;
  color: white;
  float: right;
  margin-top: 80px;
  width: 64%;
}

.item-picture {
  width: 100%;
  height: 110px;
  background: #ccc;
  background-image: url(../../assets/images/event-picture.jpg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px 5px 0px 0px;
}

.item-gradiente {
  width: 100%;
  height: 110px;
  position: absolute;
  top: 0;
  background-image: -webkit-linear-gradient(bottom, #030303a8, transparent);
  background-image: -moz-linear-gradient(bottom, #030303a8, transparent);
  background-image: -ms-linear-gradient(bottom, #030303a8, transparent);
}

.item-info {
  width: 100%;
  height: 90px;
  background: #fff;
  border-radius: 0px 0px 5px 5px;
}

.item-date {
  width: 85px;
  height: 85px;
  background: #f8f8f8;
  border-radius: 50%;
  position: absolute;
  top: 68px;
  text-align: center;
  box-shadow: 1px 1px 5px #5e575791;
  left: 13px;
}

.item-date-month {
  display: block;
  margin-top: -13px;
  font-size: 21px;
  color: #3c8bf1;
}

.item-date-day {
  display: block;
  font-size: 35px;
  line-height: 1.4;
  color: #3163aa;
  font-weight: bold;
  margin-top: -3px;
}

.item-date-year {
  display: block;
  margin-top: -7px;
  font-size: 17px;
  color: #8bb7fb;
}

.item-description {
  height: 45px;
  width: 65%;
  float: right;
  height: auto;
  padding: 4px 7px;
  text-align: justify;
}

.item-genial {
  clear: both;
}

.font-genial {
  font-size: 45px;
}

.filtro {
  display: none;
}

@media (min-width:420px) {
  .item-name {
    width: 70%;
  }
  .item-description {
    width: 70%;
    float: right;
    padding: 4px 4px;
    padding-right: 20px;
  }
}

@media (min-width:500px) {
  .item-date {
    width: 100px;
    height: 100px;
    top: 57px;
    left: 25px;
  }
}

@media (min-width:560px) {
  .item-event {
    height: 240px;
    width: 560px;
    margin: 0 auto;
  }
  .item-name {
    margin-top: 95px;
    font-size: 21px;
  }
  .item-date-day {
    font-size: 54px;
  }
  .item-info{
    padding: 10px;
  }
  .item-date-month {
    display: block;
    margin-top: -17px;
  }
  .item-date {
    width: 120px;
    height: 120px;
    top: 68px;
  }
  .item-gradiente, .item-picture {
    height: 130px;
  }
  .font-genial {
    font-size: 60px;
  }
  .item-info{
    height: 110px;
  }
}

@media (min-width:960px) {
  .container-event {
    padding: 20px;
    width: 960px;
  }
  .container-item-event {
    width: 600px;
  }
  .filtro {
    display: inline-block;
    width: 300px;
    height: 200px;
    background: white;
    margin-left: 20px;
    border-radius: 7px;
    color: #707175;
    position: fixed;
  }
  .reset-margin1 {
    position: relative;
    padding: 0;
    margin: 0 auto;
    width: 960px;
    float: none;
  }
} */

/* Fin item event */

/* Estilos Event */

body {
  background: #eaebec;
  font-family: 'Raleway', sans-serif;
}

a, a:hover, a:visited, a:link, a:active {
  text-decoration: none !important;
}

.color-blue {
  color: #317fe1;
}

.font-block {
  display: block;
}

.reset-margin {
  margin: 0;
}

.location {
  display: none;
}

.reset-padding {
  padding: 0;
}

.container-event {
  height: auto;
  padding: 10px;
}

.event-info-detail {
  width: 100%;
  height: auto;
  background: white;
  position: relative;
  margin-top: 20px;
  border-radius: 10px;
  padding-bottom: 25px;
}

.info-event-portada {
  background: #ccc;
  height: 220px;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  background-image: url(../../assets/images/event-picture.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.info-event-gradient {
  text-align: center;
  width: 100%;
  height: 220px;
  position: absolute;
  top: 0;
  background-image: -webkit-linear-gradient(bottom, #302f2f99, transparent);
  background-image: -moz-linear-gradient(bottom, #030303a8, transparent);
  background-image: -ms-linear-gradient(bottom, #030303a8, transparent);
}

.info-event-name {
  font-size: 20px;
  color: white;
  display: block;
  margin-top: 188px;
  font-weight: 100;
  /* font-family: 'Raleway', sans-serif; */
}

.info-event-data {
  height: 40px;
  color: #777777;
  text-align: center;
  padding: 9px;
  font-size: 14px;
}

.font-genial {
  font-size: 55px;
}

.font-info {
  display: block;
  color: #79797f;
  height: 33px;
}

.icon-info {
  color: #121212;
  display: inline-block;
  margin-right: 10px;
  font-size: 18px;
}

.info-event-datos {
  height: auto;
  padding: 15px 50px 0px 50px;
}

.info-event-map {
  height: auto;
  text-align: center;
  padding: 10px;
  margin-top: 3px;
}

.info-event-map a {
  background: #0069dc;
  border: 0;
  padding: 5px 20px;
  margin: 0 auto;
  border-radius: 8px;
  font-size: 15px;
  width: 150px;
  color: #d4e0f8;
  font-weight: 100;
  cursor: pointer;
}

.info-event-map a i {
  font-size: 18px;
  margin-right: 10px;
  font-weight: 600;
}

.event-info-about {
  background: #fff;
  height: auto;
  margin-top: 20px;
  border-radius: 10px;
  padding: 35px;
  text-align: justify;
  font-size: 17px;
}

.info-event-2 .font-block {
  margin-bottom: 10px;
}

.container-event-more {
  /* background: blue; */
  height: auto;
  margin-top: 20px;
  padding-bottom: 20px;
}

.event-title-ubication {
  height: auto;
  padding: 5px;
  text-align: center;
  font-size: 17px;
  color: #e74a8a;
  padding-bottom: 20px;
}

.event-ubication-icon {
  background: white;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  margin: 0 auto;
  color: #ea3f34;
  text-align: center;
  font-size: 45px;
  padding: 13px;
}

.more-event-1 .font-ubication {
  display: block;
  margin-top: 10px;
}

.event-map {
  height: 180px;
  background: #ccc;
}

.event-business-title {
  height: auto;
  padding: 20px 25px 15px 25px;
  font-size: 18px;
}

.event-business {
  background: white;
  height: 100px;
  border-radius: 10px;
  padding: 18px;
}

.more-event-logo {
  width: 65px;
  background: red;
  height: 65px;
  border-radius: 50%;
  float: left;
}

.more-event-business {
  height: 65px;
  float: left;
  width: 75%;
  padding: 18px 18px;
  font-size: 18px;
  font-weight: 500;
}

.info-event-fecha {
  display: none;
}

.info-event-map .color-blue {
  display: none;
}

.font-ubication {
  display: block;
  margin-top: 10px;
}

@media (min-width:600px) {
  .container-event {
    padding: 30px;
  }
  .info-event-portada {
    height: 290px;
  }
  .info-event-gradient {
    height: 290px;
  }
  .info-event-name {
    font-size: 26px;
    margin-top: 250px;
  }
  .font-genial {
    font-size: 70px;
  }
  .ocultar {
    display: none;
  }
  .info-event-fecha {
    width: 30%;
    height: 120px;
    display: block;
    float: left;
    margin-right: 20px;
    text-align: right;
    color: white;
    text-align: center;
    padding-left: 50px;
  }
  .info-day {
    font-size: 70px;
    line-height: 0.9;
    font-weight: 700;
    color: #3163aa;
    font-family: 'Roboto';
  }
  .info-month {
    color: #3c8bf1;
    font-size: 35px;
    line-height: 0.7;
    font-weight: 549;
  }
  .info-year {
    color: #8cb8fb;
    font-size: 33px;
    font-weight: 300;
    line-height: 1.1;
  }
  .info-event-map a {
    padding: 6px 25px;
    border-radius: 12px;
    font-size: 20px;
    width: 200px;
  }
  .info-event-map a i {
    font-size: 20px;
  }
  .event-info-about {
    font-size: 18px;
  }
  .event-title-ubication {
    height: 105px;
    margin: 0;
    padding: 10px;
    padding-bottom: 20px;
    /* padding-bottom: 100px; */
  }
  .font-ubication {
    display: block;
    float: left;
    margin-top: 25px;
    margin-left: 30px;
  }
  .event-ubication-icon {
    width: 70px;
    height: 70px;
    color: #ea3f34;
    text-align: center;
    font-size: 40px;
    padding: 10px;
    margin-left: 35px;
    float: left;
  }
  .event-title-ubication.font-ubication {
    display: block;
    margin-top: 20px;
    float: left;
    font-size: 20px;
    margin-left: 25px;
  }
  .event-map {
    height: 260px;
  }
  .event-business-title {
    padding: 20px 35px 15px 40px;
    font-size: 23px;
  }
  .more-event-logo {
    width: 75px;
    height: 75px;
  }
  .event-business {
    padding: 13px 20px;
  }
  .more-event-business {
    padding: 25px 30px;
    font-size: 17px;
  }
}

@media (min-width:960px) {
  .font-genial {
    font-size: 60px;
  }
  .info-event-data {
    text-align: left;
    padding: 9px 35px;
  }
  .info-event-name {
    font-size: 26px;
    margin-top: 250px;
    text-align: left;
    margin-left: 35px;
  }
  .reset-margin1 {
    position: relative;
    padding: 0;
    margin: 0 auto;
    width: 960px;
    float: none;
  }
  .container-event {
    position: relative;
    height: auto;
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }
  .container-event-info {
    margin: 0;
    display: inline-block;
    padding: 10px;
    height: auto;
    width: 600px;
  }
  .container-event-more {
    width: 360px;
    display: inline-block;
    position: absolute;
    padding: 10px;
    margin-left: 0;
  }
  .event-ubication-icon {
    float: none;
    margin: 0 auto;
  }
  .event-title-ubication.font-ubication {
    float: none;
    margin-top: 10px;
  }
  .event-title-ubication {
    height: auto;
    margin-top: 315px;
    padding: 5px;
    padding-bottom: 20px;
  }
  .event-business {
    background: transparent;
    height: auto;
    padding: 0;
  }
  .more-event-logo {
    float: none;
    width: 110px;
    height: 110px;
    background: #fff;
    margin: 0 auto;
  }
  .more-event-business {
    float: none;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    font-size: 15px;
    color: #ababab;
    padding: 0;
    height: auto;
  }
  .event-map {
    height: 420px;
    border-radius: 10px;
  }
  .event-business-info {
    background: #000;
    position: absolute;
    top: 0;
    width: 95%;
    height: 300px;
    border-radius: 7px;
  }
  .business-info1-title {
    height: 80px;
    padding: 15px 20px;
    text-align: center;
    color: #0064d1;
    font-size: 20px;
    border-radius: 10px 10px 0px 0px;
  }
  .business-info-logo {
    height: 110px;
    background: white;
    width: 110px;
    border-radius: 50%;
    margin: 0 auto;
  }
  .container-event-more {
    position: absolute;
  }
  .location {
    display: block;
  }
  .business-name {
    height: auto;
    text-align: center;
    color: #ababab;
    margin-top: 15px;
    font-size: 15px;
  }
  .info-event-datos {
    float: left;
    padding: 10px 0px;
  }
  .event-info-detail {
    height: 545px;
  }
  .info-event-map a {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border-radius: 50%;
    /* margin-left: 25px; */
    /* text-align: center; */
    padding: 15px 18px;
  }
  .info-event-map a span {
    display: block;
    margin-top: 17px;
    width: 160px;
    text-align: center;
    color: #0169dc;
    font-weight: 500;
    margin-left: -60px;
  }
  .info-event-map a i {
    font-size: 27px;
    margin-right: 0px;
    font-weight: 300;
  }
  .info-event-map {
    float: left;
    margin-left: 30px;
    padding: 0px 10px;
    cursor: pointer;
  }
  .font-ubication {
    float: none;
    margin-top: 5px;
  }
  /* .info-event-map .color-blue {
    display: block;
    margin: 0 auto;
    font-size: 19px;
    cursor: pointer;
    margin-top: 5px;
  } */
}

/* Fin Estilos Event */
