 body {
   background: #eaebec;
   font-family: 'Raleway', sans-serif;
 }

 /* Styles of offer item  */

 /*
.reset-padding {
  padding: 0;
}

.reset-margin {
  margin: 0;
}

.truncado {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.container-offer {
  position: relative;
  height: auto;
  margin: 0 auto;
}

.container-item-offer {
  height: 600px;
  display: inline-block;
  width: 100%;
  padding: 15px;
}

.item-offer {
  height: 160px;
  width: 100%;
  background: white;
  border-radius: 7px;
}

.item-offer-picture {
  height: 100%;
  width: 33%;
  background: #c2cad0;
  border-radius: 7px 0px 0px 7px;
  float: left;
}

.item-offer-info {
  float: left;
  width: 56%;
  height: 40px;
  padding: 0px 10px;
  margin-top: 7px;
}

.item-offer-logo {
  width: 33px;
  height: 33px;
  background: #0c7ffb;
  border-radius: 50%;
  margin-top: 3px;
  float: left;
}

.item-offer-2 {
  font-size: 10px;
  float: left;
  width: 70%;
  margin-top: 5px;
  margin-left: 4px;
}

.item-offer-business {
  display: block;
}

.item-offer-ubication {
  display: block;
  width: 100%;
  height: 20px;
  color: #aaadb0;
}

.item-offer-name {
  clear: both;
  width: 100%;
  height: auto;
  padding: 0px 5px;
  color: #262626;
  font-size: 15px;
  margin-top: 45px;
}

.item-offer-description {
  width: 100%;
  height: auto;
  padding: 0 5px;
}

.item-offer-description span {
  display: block;
  color: #4c4848;
  font-size: 12px;
}

.item-offer-1 {
  width: 90%;
  height: 30px;
  margin-top: 10px;
  float: left;
}

.item-offer-3 {
  padding: 0px 6px;
}

.first-price {
  color: #929292;
  text-decoration: line-through;
}

.second-price {
  color: #0d7ffb;
}

.item-offer-3 .valido {
  font-size: 9px;
  display: block;
  color: #888888;
}

.item-offer-share {
  float: right;
  margin-top: 10px;
  font-size: 14px;
  width: 14px;
  height: auto;
}

.item-offer-share span {
  display: block;
  margin-top: 8px;
  font-size: 18px;
}

@media (min-width:340px) {
  .item-offer-info {
    width: 60%;
  }
}

@media (min-width:370px) {
  .item-offer-info {
    width: 64%;
  }
}

@media (min-width:400px) {
  .item-offer-logo {
    width: 40px;
    height: 40px;
  }
  .item-offer {
    height: 170px;
  }
  .item-offer-info {
    width: 65%;
  }
  .item-offer-3 {
    font-size: 16px;
  }
  .item-offer-3 .valido {
    font-size: 12px;
  }
  .item-offer-share span {
    font-size: 22px;
  }
  .item-offer-description span {
    font-size: 13px;
  }
  .item-offer-name {
    font-size: 19px;
  }
  .item-offer-2 {
    font-size: 12px;
    margin-top: 7.5px;
  }
}

@media (min-width:440px) {
  .item-offer-name {
    margin-top: 50px;
  }
  .item-offer {
    height: 175px;
  }
}

@media(min-width:450px) {
  .item-offer-name {
    margin-top: 55px;
  }
  .item-offer-3 {
    font-size: 18px;
    margin-top: 7px;
  }
  .item-offer-share {
    margin-top: 17px;
    margin-right: 10px;
  }
  .item-offer-share span {
    font-size: 26px;
  }
}

@media (min-width:480px) {
  .item-offer-info {
    width: 66%;
  }
}

@media (min-width:600px) {
  .item-offer {
    height: 200px;
    width: 570px;
    margin: 0 auto;
  }
  .item-offer-business {
    display: block;
  }
  .item-offer-name {
    font-size: 25px;
  }
  .item-offer-info {
    height: auto;
    padding: 8px 10px;
    margin-top: 4px;
  }
  .item-offer-share {
    margin-right: 20px;
  }
  .item-offer-2 {
    width: 80%;
    font-size: 14px;
    margin-top: 13px;
  }
  .item-offer-ubication {
    display: block;
    float: right;
    width: auto;
  }
  .item-offer-business {
    display: block;
    float: left;
  }
  .item-offer-3 {
    font-size: 20px;
  }
  .item-offer-3 .valido {
    font-size: 14px;
  }
}

@media (min-width:960px) {
  .container-item-offer {
    width: 600px;
  }
  .reset-margin1 {
    position: relative;
    padding: 0;
    margin: 0 auto;
    width: 960px;
    float: none;
  }
} */

 /* End styles of offer item */

 /* Styles of offer details */

 .reset-padding {
   padding: 0;
 }

 .reset-margin {
   margin: 0;
 }

 .container-offer {
   position: relative;
   height: auto;
   margin: 0 auto;
 }

 .container-offer-info {
   height: auto;
   width: 100%;
   padding: 15px 15px 10px 15px;
 }

 .offer-info-picture {
   background: red;
   background-image: -webkit-linear-gradient(bottom, #302f2f99, transparent);
   background-image: -moz-linear-gradient(bottom, #030303a8, transparent);
   background-image: -ms-linear-gradient(bottom, #030303a8, transparent);
   border-radius: 7px 7px 0px 0px;
   height: 150px;
   width: 100%;
 }

 .offer-info-name {
   width: 100%;
   height: auto;
   font-size: 20px;
   text-align: center;
   padding: 5px;
   color: #000;
   margin-top: 7px;
   font-weight: bolder;
 }

 .offer-price {
   width: 100%;
   height: 60px;
   padding: 10px 15px;
 }

 .offer-price span {
   display: block;
   float: left;
   margin-left: 5px;
   font-size: 30px;
   color: #0050aa;
 }

 .offer-price .first-price {
   display: block;
   float: left;
   width: 50%;
   text-align: right;
   padding-right: 10px;
   color: #7e7777;
   font-size: 30px;
   height: auto;
   text-decoration: line-through;
   border-right: 1.4px solid #a9a9a9;
 }

 .offer-price .second-price {
   display: block;
   float: left;
   margin-left: 10px;
   font-size: 36px;
   margin-top: -5px;
   color: #0051aa;
   font-weight: 500;
 }

 .valido {
   display: block;
   margin-top: 7px;
   color: #a9a7a7;
   font-size: 14px;
   font-weight: 100;
 }

 .font-genial {
   font-size: 50px;
 }

 .offer-info-detail {
   background: white;
   height: auto;
   width: 100%;
   border-radius: 7px;
   padding: 0px 0px 10px 0px;
 }

 .container-offer-more {
   width: 100%;
   height: auto;
   padding: 10px 15px 15px 15px;
 }

 .offer-business {
   width: 100%;
   background: #000;
   height: 54px;
   border-radius: 10px;
   padding: 10px;
 }

 .offer-business-logo {
   margin-top: 0.5px;
   width: 34px;
   height: 34px;
   background: white;
   border-radius: 50%;
   margin-left: 10px;
   float: left;
 }

 .offer-business-info {
   float: left;
   margin-left: 4px;
 }

 .offer-business-info .name {
   display: block;
   color: white;
   margin-top: 1px;
 }

 .offer-business-info .ubication {
   display: block;
   margin-top: -2px;
   font-size: 12px;
   color: #8f9497;
 }

 .offer-description {
   height: auto;
   padding: 10px 15px;
   color: #4a4040;
   text-align: justify;
 }

 .offer-contact-info .ubication {
   display: block;
 }

 .offer-contact {
   width: 100%;
   height: auto;
   padding: 20px;
   background: white;
   margin: 20px 0px;
   border-radius: 7px;
   color: #000;
 }

 .offer-contact i, .offer-info-contacti {
   display: block;
   float: left;
   font-size: 17px;
   margin-right: 10px;
 }

 .offer-contact-info div {
   margin: 8px 0px;
   height: 20px;
 }

 .offer-contact-info div span {
   display: block;
   float: left;
 }

 .offer-contact-info .redondito {
   width: 5px;
   height: 5px;
   background: #7c7995;
   border-radius: 50%;
   margin: 7px 10px;
 }

 .offer-contact-icon {
   width: 40px;
   height: 40px;
   margin: 0 auto;
   text-align: center;
   padding: 1px;
   font-size: 33px;
   margin-bottom: 10px;
   color: #0051aa;
 }

 .offer-contact a {
   display: block;
   clear: both;
   width: 185px;
   height: 35px;
   background: #226adc;
   text-align: center;
   border-radius: 7px;
   font-size: 17px;
   color: white;
   padding: 6px 20px;
   margin: 0 auto;
   margin-top: 35px;
   margin-bottom: 10px;
 }

 .offer-contact a i {
   margin-top: 2px;
   font-size: 20px;
   font-weight: 600;
 }

 .offer-title-ubication, .offer-business-title, .offer-map, .offer-info-contact{
   display: none;
 }

 /* .gradiente {
   text-align: center;
   width: 100%;
   height: 220px;
   position: absolute;
   top: 0;
   background-image: -webkit-linear-gradient(bottom, #302f2f99, transparent);
   background-image: -moz-linear-gradient(bottom, #030303a8, transparent);
   background-image: -ms-linear-gradient(bottom, #030303a8, transparent);
 } */

 @media (min-width:400px) {
   .offer-description {
     padding: 10px 25px;
   }
   .offer-contact {
     padding: 25px;
   }
   .offer-contact a {
     margin-top: 25px;
   }
   .offer-contact-icon {
     width: 50px;
     height: 50px;
     font-size: 43px;
   }
 }

 @media (min-width:600px) {
   .container-offer-info {
     width: 570px;
     margin: 0 auto;
   }
   .offer-info-picture {
     height: 250px;
   }
   .container-offer-more {
     width: 570px;
     margin: 0 auto;
   }
   .offer-info-name {
     color: white;
     margin-top: -45px;
     font-size: 28px;
     font-weight: 300;
   }
   .offer-description .valido {
     margin-top: -140px;
     text-align: center;
     width: 100%;
   }
   .offer-genial {
     margin-top: 130px;
     margin-bottom: 20px;
   }
   .offer-price {
     width: 30%;
     height: auto;
     margin-top: 20px;
     float: left;
   }
   .font-genial {
     font-size: 58px;
   }
   .offer-price .first-price {
     width: 100%;
     border-right: 0;
     font-size: 27px;
     margin-left: 10px;
     text-align: center;
   }
   .offer-price .second-price {
     width: 50%;
     text-align: center;
     font-size: 40px;
     font-weight: 700;
   }
   .offer-price span {
     font-size: 35px;
     font-weight: 600;
     margin-left: -3px;
   }
   .offer-description span {
     float: right;
     width: 70%;
     margin-top: 30px;
   }
   .offer-business {
     height: 50px;
     padding: 8px;
   }
   .offer-business-info {
     width: 90%;
   }
   .offer-business-info .name {
     float: left;
     margin-left: 10px;
     margin-top: 7px;
     font-size: 14px;
   }
   .offer-business-info .ubication {
     float: left;
     margin-top: 9px;
     margin-left: 10px;
     font-size: 12px;
   }
   .offer-contact-icon {
     float: left;
     width: 90px;
     height: 90px;
     text-align: center;
     font-size: 70px;
   }
   .offer-contact-info {
     float: left;
     margin-left: 20px;
     margin-top: 20px;
     font-size: 16px;
   }
   .offer-contact {
     padding: 15px 30px;
   }
   .offer-contact a {
     width: 200px;
     height: 40px;
     padding: 7px 30px;
     font-size: 18px;
   }
 }

 @media (min-width:960px) {
   .reset-margin1 {
     position: relative;
     padding: 0;
     margin: 0 auto;
     width: 960px;
     float: none;
   }
   .container-offer-info {
     width: 600px;
     margin: 0;
     display: inline-block;
   }
   .container-offer-more {
     margin: 0;
     width: 360px;
     display: inline-block;
     position: absolute;
   }

   .offer-business {
     height: 300px;
     border-radius: 7px;
     background: black;
     width: 100%;
     padding: 0;
   }
   .offer-business-logo {
     width: 110px;
     height: 110px;
     margin: 0 auto;
     float: none;
   }
   .offer-business-info .name {
     float: none;
     text-align: center;
     color: #ababab;
     margin-top: 15px;
     font-size: 15px;
   }
   .offer-business-info .ubication {
     float: none;
     text-align: center;
     margin: 0;
     font-size: 15px;
     color: #ababab;
   }
   .offer-business-title {
     display: block;
     height: 80px;
     padding: 15px 25px;
     color: #0064d1;
     font-size: 20px;
     border-radius: 10px 10px 0px 0px;
     font-family: 'Raleway', sans-serif;
   }
   .offer-title-ubication {
     display: block;
     width: 100%;
     padding: 5px 25px;
     margin: 15px auto;
     height: auto;
   }
   .offer-title-ubication .offer-ubication-icon{
     display: block;
     float: none;
     margin: 0 auto;
     width: 60px;
     height: 60px;
     text-align: center;
     background: white;
     color: #e74c99;
     border-radius: 50%;
     padding: 12px;
     font-size: 35px;
   }
   .offer-title-ubication .font-ubication{
     display: block;
     float: none;
     margin-left: 10px;
     font-size: 20px;
     margin-top: 8px;
     color: #e84d9a;
     text-align: center;
   }
   .offer-map {
     display: block;
     width: 100%;
     height: 300px;
     background: #ccc;
     border-radius: 7px;
   }
   .offer-contact {
     display: none;
   }
   .offer-info-contact{
     display: block;
     background: white;
     width: 100%;
     margin: 20px 0px;
     height: 130px;
     padding: 20px;
     border-radius: 7px;
   }
   .offer-contact-icon {
     float: left;
     width: 100px;
     height: 110px;
     text-align: center;
     font-size: 90px;
     margin-top: -13px;
   }
 }

 /* End Styles of offer deteils */
