<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/fonts.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/ionicons.min.css">

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">

	<!-- style for this template -->
	<link rel="stylesheet" type="text/css" href="./explorer.css">
	<!-- style for components -->

	<title>Explorer</title>
</head>
<body>
	<h1>Explorer is Here</h1>
</body>
</html>
