.genial{
    position: relative;
    cursor: pointer;
    display: block;
    font-size: 55px;
    letter-spacing: -0.2545em;
    line-height: 0.2991em;
    width: 2.87em;
    word-wrap: break-word;
    white-space: nowrap;
    user-select: none;
}
.genial div{
    display: inline-block;
    vertical-align: middle;
    word-spacing: normal;
    letter-spacing: normal;
    white-space: normal;
    -webkit-box-sizing: content-box!important;
    box-sizing: content-box!important;
}
/*
 *   Bloques
 */
.genial-left{
    width: 1em;
    height: 0.2910em;
    line-height: 0.09em;
}
.genial-smile{
    position: relative;
    background: #f2f2f2;
    border: 0.0274em solid #ffffff;
    width: 0.8182em;
    height: 0.8182em;
    border-radius: 50%;
    overflow: hidden;
    line-height: 0;
    z-index: 1;
    transition: all 0.5s;
}
.genial-right{
    position: relative;
    width: 0.74em;
    background: #a4a1a1;
    border-radius: 0.363em 0.5em 0.5em 0.363em;
    padding: 0.0364em 0.2546em 0.0364em 0.2546em;
    margin-left: -0.2545em;
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
    text-align: right;
    user-select: none;
}
.genial-right span{
    display: block;
    font-size: 0.2545em;
}
.genial-right:before{
	content: '';
    position: absolute;
    background: #FFFFFF;
    border-radius: 50%;
    width: 0.81em;
    height: 0.81em;
    left: -0.5818em;
    top: -0.20em;
}

/*
 *   SVG initial
 */
.genial-left svg{
    width: 1em;
    height: 0.2184em;
    vertical-align: middle;
	fill: #A4A1A1;
}
.genial-smile .unliked svg{
	fill: #A4A1A1;
    width: 0.8182em;
    height: 0.8182em;
}
.genial-smile .liked svg{
	fill: #ff9a00;
    width: 0.8182em;
    height: 0.8182em;
}
/*
 *   LikeState
 */

.unliked, .liked{
	width: 0.8182em;
    height: 0.8182em;
}
.liked{
	display: none;
}

/*
 *      Styles only for view
 */
.genial-preview .genial-smile .unliked{
    display: none;
}
.genial-preview .genial-smile .liked{
    display: block;
}
.genial-preview .genial-smile .liked svg{
    fill: #A4A1A1;
}
