/*only test*/
body{
  background: #e9eaeb;
}
.menu{
  width: 100%;
  height: 50px;
  background: #d4d4d4;
}
/********************************************************
                        LAYOUTS
********************************************************/
.layoutSearch{
  display: block;
  width: 960px;
  margin: 0 auto;
  white-space: nowrap;
  word-spacing: -4px;
  /*background: red;*/

}
.layoutItem,
.layoutFilter{
  vertical-align: top;
  word-spacing: normal;
  letter-spacing: normal;
  white-space: normal;
  -webkit-box-sizing: content-box!important;
  box-sizing: content-box!important;
}
.layoutItem{
  display: inline-block;
  width: 600px;
  /*background: yellow;*/
}
.layoutFilter{
  display: inline-block;
  position: relative;
  width: 360px;
  height: 50px;
  /*background: green;*/
}
@media (max-width:420px){
  .layoutSearch{
    width: 100%;
  }
  .layoutItem{
    display: block;
    width: 100%;
  }
  .layoutFilter{
    display: block;
  }
  .Filter{
    display: block;
    position: absolute!important;
    top: 0!important;
  }
}
/********************************************************
                    FILTER COMPONENT
********************************************************/

.Filter{
  width: 300px;
  min-height: 430px;
  top: 50px;
  border-radius: 7px;
  overflow: hidden;
  position: fixed;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  background: #fff;
}
.Filter-nav{
  background: #2d2d2d;
  width: 100%;
  height: 75px;
  text-align: center;
  vertical-align: middle;
}
.Filter-nav-image{
  width: 70px;
}
.Filter-nav-title{
  color: #e9eaeb;
  font-weight: 200;
  display: inline-block;
}
.Filter-presenter{
  text-align: center;
}
.Filter-presenter img{
  width: 100px;
  height: 65px;
  margin: 10px auto;
}
.Filter-presenter h5{
  margin: 5px 0;
  font-size: 18px;
}
.Filter-sub{
  margin: 15px 30px;
  cursor: pointer;
}
.Filter-sub-title{
  padding: 0;
  margin: 0;
}
.Filter-sub-name{
  font-weight: 500;
  color: #1d70b8;
  background: #e9eaed;
  padding: 15px;
  border-radius: 7px;
}
.Filter-copy{
  padding: 20px 0px;
  text-align: center;
}
/********************************************************
                    SEARCH COMPONENT
********************************************************/
.LayoutSearch{
  background: #e9eaeb;
  position: fixed;
  width: 600px;
  height: 70px;
  z-index: 5;
}
.LayoutSearch-space{
  height: 70px; /*depende del height del component Search*/
}
.Search{
  position: relative;
  width: 468px;
  top: 15px;
  margin: 0 auto;
  background: #c3c3c3;
  border-radius: 8px;
  padding: 4px;
}
.Search-input,
.Search-input:focus{
  width: 350px;
  height: 25px;
  border: 0;
  font-size: 16px;
  color: #2d2d2d;
  padding: 5px 90px 5px 20px;
  background: #FFFFFF;
  box-shadow: none;
  border-radius: 5px;
  user-select: none;
  outline: none;
}
.Search-input::-webkit-input-placeholder { color: #7A7878; }
.Search-input:-moz-placeholder { color: #7A7878; }
.Search-input::-moz-placeholder { color: #7A7878; }
.Search-input:-ms-input-placeholder { color: #7A7878; }

.Search-options{
  top: 10px;
  right: 15px;
  position: absolute;
}
.Search-options a{
  padding: 2px 8px;
}
.Search-options a:first-child{
  border-right: 1px solid #e9eaeb;
}

/********************************************************
                    ITEM COMPONENT
********************************************************/
.Item{
  display: block;
  position: relative;
  width: 500px;
  min-height: 150px;
  white-space: nowrap;
  word-spacing: -4px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  margin: 5px auto;
}
.Item h2, .Item h5{
  margin: 0;
  padding: 0;
}
.Item div{
  vertical-align: middle;
  word-spacing: normal;
  letter-spacing: normal;
  white-space: normal;
  -webkit-box-sizing: content-box!important;
  box-sizing: content-box!important;
}
.Item-picture{
  display: inline-block;
  background: yellow;
  width: 150px;
  height: 150px;
}
.Item-picture-image{
  width: 100%;
  height: 100%;
  background-color:#e9e9e9;
  background-position: center;
  background-size: cover;
}
.Item-picture-genial{

}
.Item-share a{
  text-decoration: none;
  color: #ffffff;
}
.Item-share{
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
}
.Item-share a{
  color: #000;
  font-size: 18px;
  padding: 5px 7px;
  border-radius: 50%;
}
.Item-share a:hover{
  background: #d4d4d4;
}
.Item-info{
  padding: 10px 20px 10px 20px;
  display: inline-block;
  width: 310px;
  max-height: 130px;
}
.Item-info-link{
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
.Item-info-name{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
}
.Item-info-category{
  line-height: 10px;
  color: #71777c;
}
.Item-info-description{
  color: #47494a;
  height: 18px;
  width: 100%;
  margin: 8px 0px 15px 0px;
  overflow: hidden;
  font-size: 13px;
}
.Item-info-address{
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #000000;
  height: 18px;
  font-size: 12px;
}
.Item-info-contact{
  position: relative;
  display: block;
  margin: 4px 0px;
  padding: 6px 0px;
  z-index: 2;
}
.Item-info-contact a{
  text-decoration: none;
  color: #000;
  font-size: 12px;
  padding: 10px 0px;
}
.Item-info-contact span{
  font-size: 16px;
  vertical-align: middle;
}
.Item-info-contact i{
  display: inline-block;
  font-style: normal;
}
.Item-info-contact-cellphone span{
  color:#33cc66;
  margin-left: 0px!important;
  margin-right: 10px;
}
.Item-info-contact-gps span{
  color:#4cb7da;
  margin-left: 8px!important;
  margin-right: 10px;
}
.Item-info-contact-more span{
  color:#4c8fda;
  margin-left: 8px!important;
  margin-right: 10px;
}

/*
    Mobile Support
*/
@media (max-width:768px) {
  .Item{
    width: 400px;
  }
  .Item-picture{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 15px;
  }
  .Item-info{
    width: 245px;
  }
  .Item-info-contact-cellphone span,
  .Item-info-contact-gps span,
  .Item-info-contact-more span{
    margin-right: 0px;
  }
}
@media (max-width:420px) {
  .Item{
    width: 100%;
    overflow: auto;
    padding: 10px;
    min-height: 175px;
  }
  .Item-picture{
    display: block;
    position: absolute;
    left: 25px;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
  }
  .Item-info{
    display: block;
    width: initial;
    margin: 0px 20px;
    padding: 0;
  }
  .Item-info-name, .Item-info-category{
    margin-left: 56px!important;
  }
  .Item-info-name{
    margin-top: 5px!important;
  }
  .Item-info-description{
    margin: 20px 0px 4px 0px;
  }
  .Item-info-contact{
    text-align: center;
    margin: 15px 0px;
  }
  .Item-info-contact i{
    display: none;
  }
  .Item-info-contact span{
    background: #e9eaeb;
    padding: 10px;
    border-radius: 50%;
  }
}
