<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/fonts.css">
	<link rel="stylesheet" href="../../assets/css/icomoon.css">

	<!-- style for this template -->
	<link rel="stylesheet" type="text/css" href="./search.css">
	<!-- style for components -->

	<title>Search</title>
</head>
<body>
<!-- Layout Principal -->
<div class="menu"></div>
<div class="layoutSearch">
	<!-- Layout para Resultados -->
	<div class="layoutItem">
		<div class="LayoutSearch">
			<div class="Search">
				<input type="search" class="Search-input" placeholder="Encontrar Empresas o Servicios">
				<div class="Search-options">
					<a href="#">
						<span class="icon-map-pin"></span>
					</a>
					<a href="#">
						<span class="icon-search"></span>
					</a>
				</div>
			</div>
		</div>
		<div class="LayoutSearch-space"></div>

		<div class="Item">
			<div class="Item-picture">
				<figure class="Item-picture-image"
				style="background-image:url(../../assets/images/profile.png)"
				></figure>
			</div>
			<div class="Item-share">
				<a href="#">
					<span class="icon-share-2"></span>
				</a>
			</div>
			<div class="Item-info">
				<a href="#linkpendejo" class="Item-info-link"></a>
				<h2 class="Item-info-name">
					Pollos Kikys
				</h2>
				<h5 class="Item-info-category">
					Restaurant - Santa Cruz
				</h5>
				<p class="Item-info-description">
					Pollos a la leña siempre con doble arroz,
					Deliciosos y Sensuales llopos a la leña siempre con doble arroz!
				</p>
				<adress class="Item-info-address">
					<strong>Direccion:</strong>
					Calle Pinilla Nro.2588, Edif Arcadia P.11 E(Socopachi)
				</adress>

				<div class="Item-info-contact">
					<a href="tel:79413052" class="Item-info-contact-cellphone">
						<span class="icon-phone"></span>
						<i>79413052</i>
					</a>
					<a href="#" class="Item-info-contact-gps">
						<span class="icon-map-pin"></span>
						<i>Ver Mapa</i>
					</a>
					<a href="#" class="Item-info-contact-more">
						<span class="icon-arrow-right"></span>
						<i>Ver Mas...</i>
					</a>
				</div>

			</div>
		</div>

		<div class="Item">
			<div class="Item-picture">
				<figure class="Item-picture-image"
				style="background-image:url(../../assets/images/profile.png)"
				></figure>
			</div>
			<div class="Item-share">
				<a href="#">
					<span class="icon-share-2"></span>
				</a>
			</div>
			<div class="Item-info">
				<a href="#linkpendejo" class="Item-info-link"></a>
				<h2 class="Item-info-name">
					Pollos Kikys
				</h2>
				<h5 class="Item-info-category">
					Restaurant - Santa Cruz
				</h5>
				<p class="Item-info-description">
					Pollos a la leña siempre con doble arroz,
					Deliciosos y Sensuales llopos a la leña siempre con doble arroz!
				</p>
				<adress class="Item-info-address">
					<strong>Direccion:</strong>
					Calle Pinilla Nro.2588, Edif Arcadia P.11 E(Socopachi)
				</adress>

				<div class="Item-info-contact">
					<a href="tel:79413052" class="Item-info-contact-cellphone">
						<span class="icon-phone"></span>
						<i>79413052</i>
					</a>
					<a href="#" class="Item-info-contact-gps">
						<span class="icon-map-pin"></span>
						<i>Ver Mapa</i>
					</a>
					<a href="#" class="Item-info-contact-more">
						<span class="icon-arrow-right"></span>
						<i>Ver Mas...</i>
					</a>
				</div>

			</div>
		</div>
		<div class="Item">
			<div class="Item-picture">
				<figure class="Item-picture-image"
				style="background-image:url(../../assets/images/profile.png)"
				></figure>
			</div>
			<div class="Item-share">
				<a href="#">
					<span class="icon-share-2"></span>
				</a>
			</div>
			<div class="Item-info">
				<a href="#linkpendejo" class="Item-info-link"></a>
				<h2 class="Item-info-name">
					Pollos Kikys
				</h2>
				<h5 class="Item-info-category">
					Restaurant - Santa Cruz
				</h5>
				<p class="Item-info-description">
					Pollos a la leña siempre con doble arroz,
					Deliciosos y Sensuales llopos a la leña siempre con doble arroz!
				</p>
				<adress class="Item-info-address">
					<strong>Direccion:</strong>
					Calle Pinilla Nro.2588, Edif Arcadia P.11 E(Socopachi)
				</adress>

				<div class="Item-info-contact">
					<a href="tel:79413052" class="Item-info-contact-cellphone">
						<span class="icon-phone"></span>
						<i>79413052</i>
					</a>
					<a href="#" class="Item-info-contact-gps">
						<span class="icon-map-pin"></span>
						<i>Ver Mapa</i>
					</a>
					<a href="#" class="Item-info-contact-more">
						<span class="icon-arrow-right"></span>
						<i>Ver Mas...</i>
					</a>
				</div>

			</div>
		</div>
		<div class="Item">
			<div class="Item-picture">
				<figure class="Item-picture-image"
				style="background-image:url(../../assets/images/profile.png)"
				></figure>
			</div>
			<div class="Item-share">
				<a href="#">
					<span class="icon-share-2"></span>
				</a>
			</div>
			<div class="Item-info">
				<a href="#linkpendejo" class="Item-info-link"></a>
				<h2 class="Item-info-name">
					Pollos Kikys
				</h2>
				<h5 class="Item-info-category">
					Restaurant - Santa Cruz
				</h5>
				<p class="Item-info-description">
					Pollos a la leña siempre con doble arroz,
					Deliciosos y Sensuales llopos a la leña siempre con doble arroz!
				</p>
				<adress class="Item-info-address">
					<strong>Direccion:</strong>
					Calle Pinilla Nro.2588, Edif Arcadia P.11 E(Socopachi)
				</adress>

				<div class="Item-info-contact">
					<a href="tel:79413052" class="Item-info-contact-cellphone">
						<span class="icon-phone"></span>
						<i>79413052</i>
					</a>
					<a href="#" class="Item-info-contact-gps">
						<span class="icon-map-pin"></span>
						<i>Ver Mapa</i>
					</a>
					<a href="#" class="Item-info-contact-more">
						<span class="icon-arrow-right"></span>
						<i>Ver Mas...</i>
					</a>
				</div>

			</div>
		</div>
		<div class="Item">
			<div class="Item-picture">
				<figure class="Item-picture-image"
				style="background-image:url(../../assets/images/profile.png)"
				></figure>
			</div>
			<div class="Item-share">
				<a href="#">
					<span class="icon-share-2"></span>
				</a>
			</div>
			<div class="Item-info">
				<a href="#linkpendejo" class="Item-info-link"></a>
				<h2 class="Item-info-name">
					Pollos Kikys
				</h2>
				<h5 class="Item-info-category">
					Restaurant - Santa Cruz
				</h5>
				<p class="Item-info-description">
					Pollos a la leña siempre con doble arroz,
					Deliciosos y Sensuales llopos a la leña siempre con doble arroz!
				</p>
				<adress class="Item-info-address">
					<strong>Direccion:</strong>
					Calle Pinilla Nro.2588, Edif Arcadia P.11 E(Socopachi)
				</adress>

				<div class="Item-info-contact">
					<a href="tel:79413052" class="Item-info-contact-cellphone">
						<span class="icon-phone"></span>
						<i>79413052</i>
					</a>
					<a href="#" class="Item-info-contact-gps">
						<span class="icon-map-pin"></span>
						<i>Ver Mapa</i>
					</a>
					<a href="#" class="Item-info-contact-more">
						<span class="icon-arrow-right"></span>
						<i>Ver Mas...</i>
					</a>
				</div>

			</div>
		</div>
		<div class="Item">
			<div class="Item-picture">
				<figure class="Item-picture-image"
				style="background-image:url(../../assets/images/profile.png)"
				></figure>
			</div>
			<div class="Item-share">
				<a href="#">
					<span class="icon-share-2"></span>
				</a>
			</div>
			<div class="Item-info">
				<a href="#linkpendejo" class="Item-info-link"></a>
				<h2 class="Item-info-name">
					Pollos Kikys
				</h2>
				<h5 class="Item-info-category">
					Restaurant - Santa Cruz
				</h5>
				<p class="Item-info-description">
					Pollos a la leña siempre con doble arroz,
					Deliciosos y Sensuales llopos a la leña siempre con doble arroz!
				</p>
				<adress class="Item-info-address">
					<strong>Direccion:</strong>
					Calle Pinilla Nro.2588, Edif Arcadia P.11 E(Socopachi)
				</adress>

				<div class="Item-info-contact">
					<a href="tel:79413052" class="Item-info-contact-cellphone">
						<span class="icon-phone"></span>
						<i>79413052</i>
					</a>
					<a href="#" class="Item-info-contact-gps">
						<span class="icon-map-pin"></span>
						<i>Ver Mapa</i>
					</a>
					<a href="#" class="Item-info-contact-more">
						<span class="icon-arrow-right"></span>
						<i>Ver Mas...</i>
					</a>
				</div>

			</div>
		</div>
		<div class="Item">
			<div class="Item-picture">
				<figure class="Item-picture-image"
				style="background-image:url(../../assets/images/profile.png)"
				></figure>
			</div>
			<div class="Item-share">
				<a href="#">
					<span class="icon-share-2"></span>
				</a>
			</div>
			<div class="Item-info">
				<a href="#linkpendejo" class="Item-info-link"></a>
				<h2 class="Item-info-name">
					Pollos Kikys
				</h2>
				<h5 class="Item-info-category">
					Restaurant - Santa Cruz
				</h5>
				<p class="Item-info-description">
					Pollos a la leña siempre con doble arroz,
					Deliciosos y Sensuales llopos a la leña siempre con doble arroz!
				</p>
				<adress class="Item-info-address">
					<strong>Direccion:</strong>
					Calle Pinilla Nro.2588, Edif Arcadia P.11 E(Socopachi)
				</adress>

				<div class="Item-info-contact">
					<a href="tel:79413052" class="Item-info-contact-cellphone">
						<span class="icon-phone"></span>
						<i>79413052</i>
					</a>
					<a href="#" class="Item-info-contact-gps">
						<span class="icon-map-pin"></span>
						<i>Ver Mapa</i>
					</a>
					<a href="#" class="Item-info-contact-more">
						<span class="icon-arrow-right"></span>
						<i>Ver Mas...</i>
					</a>
				</div>

			</div>
		</div>
	</div>
	<!-- Layout de filtros -->
	<div class="layoutFilter">
		<div class="Filter">
			<div class="Filter-nav">
				<img class="Filter-nav-image" src="../../assets/images/logoo-inverse.png" alt="">
				<h3 class="Filter-nav-title">
					Filtros
				</h3>
			</div>
			<div class="Filter-presenter">
				<img src="../../assets/images/explorar.png" alt="">
				<h5>Resultados filtrados por</h5>
			</div>

			<div class="Filter-sub">
				<h3 class="Filter-sub-title">Categoria:</h3>
				<div class="Filter-sub-name">
					Policias y Seguridad Ciudadana
				</div>
			</div>

			<div class="Filter-sub">
				<h3 class="Filter-sub-title">Departamento:</h3>
				<div class="Filter-sub-name">
					Chuquisaca
				</div>
			</div>

			<div class="Filter-copy">
				<span>
					©Openred - gooMovil - 2018
				</span>
			</div>

		</div>
	</div>
</div>
<script src="./search.js"></script>
</body>
</html>
