<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Client </title>
  <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="./client.css">
  <link rel="stylesheet" href="../../assets/css/font-awesome.min.css">
</head>
<body>
  <h2>Template Client</h2>
  <section class="registration-forms">
    <form>
      <div class="form-group">
        <label for="ci_nit_pas">CI / NIT / Pasaporte: </label>
        <input type="text" class="form-control" id="ci_nit_pas" placeholder="CI / NIT / Pasaporte">
      </div>
      <div class="form-group">
        <label for="name">Nombre: </label>
        <input type="text" class="form-control" id="name" placeholder="Introduzca Nombre">
      </div>
      <div class="form-group">
        <label for="lastname">Apellido: </label>
        <input type="text" class="form-control" id="lastname" placeholder="Introduzca Apellido">
      </div>
  
      <input type="submit" class="btn btn-primary">
    </form>
  </section>

  <section class="menu">
    <article class="menu-item">
      <figure>
        <img src="http://lorempixel.com/400/400/food/1" alt="Item">
      </figure>
      <div class="title">Título </div>
      <p class="description">(Lorem ipsum, dolor sit, amet, consectetur, adipisicing elit.)</p>
    </article>
  </section>
  

  <script src="../../assets/js/jquery.min.js"></script>
  <script src="../../assets/js/bootstrap.min.js"></script>
  <script src="../../assets/js/popper.min.js"></script>
  <!-- <script src="./dashboard.js"></script> -->
</body>
</html>
