.nav-profile-content{
  display: inline-block;
  position: absolute;
  right: 15px;
}
.nav-profile-content a{
  color: #f8f8f8;
}
.nav-profile-content div a{
  color: #2d2d2d;
}
.nav-profile{
  display: inline-block;
  position: absolute;
  background-size: cover;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  left: -30px;
  top: 2px;
}