#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #f3f3f3;
  box-shadow: -7px 9px 25px #2d2d2d;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  /*padding: 15px;*/
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}


/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #343a40;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #673ab7;
  background: rgba(63, 81, 181, 0.16);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}
.sidebar-brand{
  text-align: center
}
.sidebar-brand img{
  display: block;
  width: 208px;
  height: 108px;
  margin: 0 auto;
}
.sidebar-nav>.sidebar-brand {
  font-size: 18px;
  line-height: 60px;
  padding: 30px 0px 6px 0px;
  /*background: #1c7aa4;*/
  background: #00c6ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(45deg, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.sidebar-nav>.sidebar-brand a {
  color: #cee5ff;
  font-weight: bold;
}
.sidebar-nav>.sidebar-brand a:hover {
  color: #fdfdfd;
  background: none;
}
/* navbar styles */
.navbar-brand img{
  width: 90px;
  height: 28px;
  margin-left: 30px;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    /*padding: 20px;*/
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}