<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dashboard</title>
  <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="./dashboard.css">
  <link rel="stylesheet" href="../../assets/css/font-material.css">
</head>
<body>
    <div id="wrapper" class="toggled">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                  <img src="../../assets/images/condor-isotipo.svg" alt="">
                    <a href="#">
                        Condor Cafe Admin
                    </a>
                </li>
                <li>
                  <a href="#">Inicio</a>
                </li>
                <li>
                    <a href="#">Venta</a>
                </li>
                <li>
                    <a href="#">Caja</a>
                </li>
                <li>
                    <a href="#">Personal</a>
                </li>
                <li>
                    <a href="#">Salones y Mesas</a>
                </li>
                <li>
                    <a href="#">Productos</a>
                </li>
                <li>
                    <a href="#">Reportes</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <!-- estado de la navegación -->
            <nav class="navbar navbar-dark bg-dark">
              <a class="navbar-brand" href="#menu-toggle" id="menu-toggle">
                  <i class="material-icons">menu</i>
                <img src="../../assets/images/condor-logotipo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
              </a>
            </nav>     
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
              </ol>
            </nav>

            <div class="container-fluid">
              <div class="row justify-content-center">
                  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                      <a href="" class="card-link"></a>
                      <div class="card-header">
                          <h5 class="card-title">Ventas</h5>
                      </div>
                      <div class="card-body">
                        <div class="icon-vender">
                          <i class="material-icons">fastfood</i>
                        </div>
                        <p class="card-text">
                          Realizar una venta o pedido, designar una mesa.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                      <a href="" class="card-link"></a>
                      <div class="card-header">
                          <h5 class="card-title">Caja</h5>
                      </div>
                      <div class="card-body">
                        <div class="icon-vender">
                          <i class="material-icons">local_atm</i>
                        </div>
                        <p class="card-text">
                          Revisar el Movimiento Economico, montos iniciales.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
                      <a href="" class="card-link"></a>
                      <div class="card-header">
                          <h5 class="card-title">Personal</h5>
                      </div>
                      <div class="card-body">
                        <div class="icon-vender">
                          <i class="material-icons">supervised_user_circle</i>
                        </div>
                        <p class="card-text">
                          Administrar personal y sus permisos.
                        </p>
                      </div>
                    </div>
                  </div>

              </div>
              <div class="row justify-content-center">

                  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                      <a href="" class="card-link"></a>
                      <div class="card-header">
                          <h5 class="card-title">Salones y Mesas</h5>
                      </div>
                      <div class="card-body">
                        <div class="icon-vender">
                          <i class="material-icons">event_seat</i>
                        </div>
                        <p class="card-text">
                          Administrar personal y sus permisos.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                      <a href="" class="card-link"></a>
                      <div class="card-header">
                          <h5 class="card-title">Productos</h5>
                      </div>
                      <div class="card-body">
                        <div class="icon-vender">
                          <i class="material-icons">kitchen</i>
                        </div>
                        <p class="card-text">
                          Administrar sus productos que ofrece.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                      <a href="" class="card-link"></a>
                      <div class="card-header">
                          <h5 class="card-title">Reportes</h5>
                      </div>
                      <div class="card-body">
                        <div class="icon-vender">
                          <i class="material-icons">show_chart</i>
                        </div>
                        <p class="card-text">
                          Administrar sus productos que ofrece.
                        </p>
                      </div>
                    </div>
                  </div>
                    
              </div>      
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
  
  <script src="../../assets/js/jquery.min.js"></script>
  <script src="../../assets/js/bootstrap.min.js"></script>
  <script src="../../assets/js/popper.min.js"></script>
  <script src="./dashboard.js"></script>
</body>
</html>