/* Estilos item Work */

/* .reset-padding {
  padding: 0;
}

.reset-margin {
  margin: 0;
}

.container-work {
  position: relative;
  height: auto;
  margin: 0 auto;
}

.container-item-work {
  height: 600px;
  display: inline-block;
  width: 100%;
  padding: 15px;
}

.item-work {
  width: 100%;
  height: 200px;
  background: white;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 15px;
  position: relative;
  padding: 10px 20px 10px 35px;
  box-shadow: 1px 1px 2px #c7c2c2;
}

.item-work-header {
  height: 45px;
  width: 100%;
  background: transparent;
}

.item-work-logo {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #acacad;
}

.item-work-info {
  float: left;
  height: 100%;
  width: 170px;
  padding: 3px 7px;
}

.item-work-info span {
  color: #1c1c1c;
}

.item-ubicacion {
  display: block;
  font-size: 11px;
  color: #b0b4b7 !important;
}

.item-work-share {
  float: right;
  height: 100%;
  width: 20px;
  text-align: center;
  padding-top: 10px;
}

.item-work-share span {
  font-size: 18px;
}

.redondito {
  display: none;
}

.item-work-name {
  clear: both;
  width: 100%;
  height: auto;
  font-size: 18px;
}

.truncado {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.item-work-description {
  width: 100%;
  height: auto;
  padding: 7px 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #68696a;
}

.item-work-category {
  float: left;
  margin-left: -35px;
  background: #0157f7;
  color: white;
  text-align: center;
  width: 57%;
  height: 35px;
  border-radius: 0px 12px 12px 0px;
  padding: 5px;
  font-size: 18px;
}

.item-work-data {
  clear: both;
  height: 40px;
  width: 100%;
  padding: 8px 0px;
  font-size: 10px;
}

.item-work-data .data {
  color: #a1a2a2;
}

.font-block {
  display: block;
}

@media (min-width:480px) {
  .item-work-data {
    clear: none;
    float: left;
    height: 40px;
    width: 50%;
    padding: 8px 15px;
    font-size: 10px;
  }
  .item-work {
    height: 180px;
  }
}

@media (min-width:570px) {
  .item-work-category {
    width: 31%;
    height: 32px;
    padding: 3px;
    margin-top: 4px;
  }
}

@media (min-width:600px) {
  .item-work {
    width: 570px;
  }
  .redondito {
    height: 5px;
    width: 5px;
    background: #bcb6b7;
    border-radius: 50%;
    margin-top: 7px;
  }
  .item-work-info {
    width: 70%;
    padding-top: 10px
  }
  .item-work-info span {
    display: block;
    float: left;
    margin-right: 10px;
    font-size: 14px;
  }
  .item-work-data {
    padding: 5px 15px;
    font-size: 11px;
  }
}

@media (min-width:960px) {
  .reset-margin1 {
    position: relative;
    padding: 0;
    margin: 0 auto;
    width: 960px;
    float: none;
  }
  .container-item-work {
    width: 600px;
  }
} */

/* Fin Estilos Work */

/* Estilos Work */

body {
  background: #eaebec;
  font-family: 'Raleway', sans-serif;
}

.reset-padding {
  padding: 0;
}

.reset-margin {
  margin: 0;
}

.font-block {
  display: block;
}

.container-work {
  position: relative;
  height: auto;
  margin: 0 auto;
}

.container-work-info {
  height: auto;
  width: 100%;
  padding: 10px;
}

.work-info-detail {
  height: auto;
  width: 100%;
  background: white;
  border-radius: 0px 0px 7px 7px;
  padding: 15px 15px 15px 25px;
}

.font-genial {
  font-size: 50px;
}

.work-name {
  width: 100%;
  height: 60px;
  border-radius: 7px 7px 0px 0px;
  background: #142231;
  padding: 15px;
  color: white;
  font-size: 18px;
}

.work-name span {
  display: block;
}

.publication {
  display: block;
  margin-top: -5px;
  color: #a09d9d;
  font-size: 12px;
}

.work-category {
  height: 30px;
  width: 62%;
  background: #0157f7;
  margin-left: -25px;
  margin-top: 10px;
  color: white;
  font-size: 18px;
  border-radius: 0px 10px 10px 0px;
  padding: 2px 4px 2px 25px;
}

.work-information {
  height: auto;
  width: 100%;
  font-size: 14px;
  padding: 10px 0px;
}

.work-information span {
  color: #78787e;
  display: block;
  margin-top: 10px;
}

.work-information i {
  color: #000;
  font-size: 17px;
  margin-right: 10px;
}

.truncado {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.work-info-about {
  width: 100%;
  height: auto;
  margin-top: 20px;
  background: white;
  padding: 25px;
  text-align: justify;
  border-radius: 7px;
  font-size: 17px;
}

.work-info-about .font-ubication {
  display: block;
  margin: px 0px;
  margin-bottom: 10px;
  color: #327fe1;
}

.container-work-more {
  height: auto;
  width: 100%;
  padding: 10px;
}

.work-title-ubication {
  width: 100%;
  height: 70px;
  padding: 5px 25px;
  margin-bottom: 18px;
}

.work-ubication-icon {
  display: block;
  float: left;
  margin: 0 auto;
  width: 60px;
  height: 60px;
  text-align: center;
  background: white;
  color: #e74c99;
  border-radius: 50%;
  padding: 12px;
  font-size: 35px;
}

.work-title-ubication .font-ubication {
  display: block;
  float: left;
  margin-left: 30px;
  font-size: 18px;
  margin-top: 20px;
  color: #e84d9a;
}

.work-title-ubication .event-ubication-icon {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  text-align: center;
  background: white;
  color: #e74c99;
  border-radius: 50%;
  padding: 5px;
  font-size: 30px;
}

.work-map {
  width: 100%;
  height: 180px;
  background: #ccc;
}

.work-business {
  height: 70px;
  width: 100%;
  background: white;
  margin: 10px 0px 15px 0px;
  border-radius: 7px;
  padding: 5px 15px;
}

.work-business-title {
  height: 40px;
  width: 100%;
  margin-top: 10px;
  padding: 10px 25px;
  font-size: 18px;
  color: #398ae2;
}

.work-business span {
  display: block;
  float: left;
  margin-top: 20px;
  font-size: 16px;
  margin-left: 10px;
}

.work-business-logo {
  width: 60px;
  height: 60px;
  background: red;
  border-radius: 50%;
  float: left;
}

.work-business .location {
  display: none;
}

@media (min-width:400px) {
  .font-genial {
    font-size: 60px;
  }
  .work-category {
    height: 30px;
    width: 52%;
    margin-top: -12px;
    color: white;
    font-size: 18px;
    border-radius: 10px 0px 0px 10px;
    text-align: center;
    padding: 3px;
    float: right;
    margin-right: -15px;
  }
}

@media (min-width:500px) {
  .work-category {
    height: 37px;
    width: 50%;
    margin-top: -12px;
    font-size: 19px;
    padding: 5px;
  }
}

@media (min-width:600px) {
  .container-work-info, .container-work-more {
    width: 600px;
    margin: 0 auto;
  }
  .work-info-detail {
    padding: 15px 15px 15px 30px;
  }
  .work-info-about {
    padding: 30px;
  }
  .work-business-title {
    padding: 10px 30px;
  }
  .work-business {
    height: 80px;
    padding: 10px 20px;
  }
}

@media (min-width:960px) {
  .reset-margin1 {
    position: relative;
    padding: 0;
    margin: 0 auto;
    width: 960px;
    float: none;
  }
  .container-work-info {
    margin: 0;
    display: inline-block;
  }
  .container-work-more {
    width: 360px;
    display: inline-block;
    position: absolute;
  }
  .work-business-info {
    background: #000;
    position: absolute;
    top: 0;
    width: 94.8%;
    height: 310px;
    border-radius: 7px;
    margin-top: 10px;
  }
  .business-info-title {
    height: 80px;
    padding: 15px 25px;
    color: #0064d1;
    font-size: 20px;
    border-radius: 10px 10px 0px 0px;
  }
  .business-info-logo {
    height: 110px;
    background: white;
    width: 110px;
    border-radius: 50%;
    margin: 0 auto;
  }
  .business-name1 {
    height: auto;
    text-align: center;
    color: #ababab;
    margin-top: 15px;
    font-size: 15px;
  }
  .work-map {
    width: 100%;
    height: 300px;
    background: #ccc;
    border-radius: 7px;
  }
  .work-title-ubication {
    padding: 5px 25px;
    margin: 10px auto;
    margin-top: 335px;
    height: auto;
  }
  .work-business-title {
    height: 60px;
  }
  .work-business {
    background: transparent;
    height: auto;
    padding: 0;
    margin: 0;
  }
  .work-business span {
    float: none;
    color: #ababab;
    text-align: center;
    margin-top: 15px;
    font-size: 15px;
    font-weight: 300;
  }
  .work-business .location {
    display: block;
    margin-top: 0px;
  }
  .work-business-logo {
    float: none;
    background: #fff;
    margin: 0 auto;
    width: 110px;
    height: 110px;
  }
  .work-title-ubication .font-ubication {
    display: block;
    float: none;
    margin-left: 10px;
    font-size: 20px;
    margin-top: 8px;
    color: #e84d9a;
    text-align: center;
  }
  .work-title-ubication .work-ubication-icon {
    display: block;
    float: none;
    margin: 0 auto;
    width: 60px;
    height: 60px;
    text-align: center;
    background: white;
    color: #e74c99;
    border-radius: 50%;
    padding: 12px;
    font-size: 35px;
  }
}

/* Fin Estilos work */
